{% extends 'ai_blog_app/templates/base.html' %}
{% block content %}

<!-- Main -->
<div class="flex-grow container my-5 mb-10 w-75" style="transition: transform 0.3s, box-shadow 0.3s;" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)'; this.style.boxShadow = 'none';">
    <div class="p-4 text-dark bg-white rounded-3 shadow">
        <!-- Introduction -->
        <div class="text-center">
            <h2 class="mb-4 font-semibold">Добро пожаловать в Генератор статей!</h2>
            <p class="text-gray-700">Создавайте высококачественные статьи для блога на основе
                                    видеороликов YouTube используя искусственный интеллект.
                                    Просто введите ссылку на видео с YouTube ниже и позвольте
                                    ИИ создавать контент за вас!
            </p>
        </div>
        <!-- Youtube link -->
        <div class="text-center mb-2 px-3">
            <h3 class="mb-4 font-semibold">Введите ссылку на ютуб видео</h3>
            <form id="generate_article_form" class="row g-3" method="POST">
                {% csrf_token %}
                <input type="url" class="form-control" style="width: 80%; float: left;"
                       id="youtube_link" placeholder="Paste Youtube Link Here...">
                  <button id="generateBlogButton" type="submit" class="btn btn-primary" style="width: 20%; float: left;">Сгенерировать</button>
            </form>
        </div>

        <!-- Generated Blog Display Section -->
        <section id="generated_blog_section" class="mt-10 text-center flex-grow" style="display: none;">
            <h3 class="mb-4 font-semibold"> Сгенерированная статья на основе видео</h3>
            <div id="blog_content" class="mt-2 text-gray-700 space-y-4">
                <!--section for loading circle-->
               <div class="d-flex justify-content-center">
                  <div id="loading-circle" class="spinner-border text-primary" role="status"
                       style="width: 5rem; height: 5rem; border-width: 0.5em;
                              display: none;">
                    <span class="sr-only"></span>
                  </div>
                   <div id="blogContent"></div>
                </div>
            </div>
        </section>
    </div>

</div>

<script>
    document.getElementById('generateBlogButton').addEventListener('click', async () => {
        event.preventDefault();

        const youtubeLink = document.getElementById('youtube_link').value;
        const blogContent = document.getElementById('blogContent');

        if(youtubeLink) {
            document.getElementById('generated_blog_section').style.display = 'block';
            document.getElementById('loading-circle').style.display = 'block';
            blogContent.innerHTML = ''; // Clear previous content

            const endpointUrl = '/generate-blog';

            try {
                const response = await fetch(endpointUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ link: youtubeLink })
                });

                const data = await response.json();

                blogContent.innerHTML = data.content;

            } catch (error) {
                console.error("Error occurred:", error);
                alert("Something went wrong. Please try again later.");

            }
            document.getElementById('loading-circle').style.display = 'none';
        } else {
            alert("Please enter a YouTube link.");
        }
    });
</script>
{% endblock %}