{% extends 'ai_blog_app/templates/base.html' %}
{% block content %}

<!-- Main -->
<div class="flex-grow container mt-5 w-75" style="transition: transform 0.3s, box-shadow 0.3s;" onmouseover="this.style.transform = 'scale(1.1)';" onmouseout="this.style.transform = 'scale(1)'; this.style.boxShadow = 'none';">
    <div class="p-4 text-dark bg-white rounded-3 shadow">
        <h2>All Blog Posts</h2>
        {% if  %}
        <div class="space-y-4">
            <div class="border border-gray-300 p-4">
                <h3 class="text-lg font-semibold"></h3>
                <p> {{  }} </p>
            </div>
        </div>
        {% else %}
        <h2>The history is empty!</h2>
        {% endif %}
    </div>
</div>
{% endblock %}