{% extends 'ai_blog_app/templates/base.html' %}
{% block content %}

<!-- Main -->
<div class="flex-grow container mt-5 w-75">
    <div class="p-4 text-dark bg-white rounded-3 shadow">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}

          <input type="hidden" name="next" value="{{ next }}" />
          <div class="form-error">{{ form.non_field_errors }}</div>
          {% for field in form %}
            <div class="form-outline mb-4">
              <p><label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}</p>
              <div class="form-error">{{ field.errors }}</div>
            </div>
          {% endfor %}
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="#">Register</a></p>
          </div>
          <div class="text-center">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
