{% extends 'ai_blog_app/templates/base.html' %}
{% block content %}

<!-- Main -->
<div class="flex-grow container mt-5 mb-5 w-75">
    <div class="p-4 text-dark bg-white rounded-3 shadow">
        <h2>Sign Up</h2>
        <form>
          <!-- Username -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="Username" class="form-control" />
            <label class="form-label" for="Username">Username</label>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="Email" class="form-control" />
            <label class="form-label" for="Email">Email address</label>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form2Example3" class="form-control" />
            <label class="form-label" for="form2Example2">Confirm Password</label>
          </div>


          <!-- Submit button -->
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign up</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Already have an account? <a href="#">Login in</a></p>
          </div>

</div>
{% endblock %}